
<h1 class="text-center"><%= pluralize(@post.count, "Result")%></h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"><%= sort_link(@query, :title, "Title")%></th>
      <th scope="col"><%= sort_link(@query, :body, "Content")%></th>
      <th scope="col"><%= sort_link(@query, :user_email, "Users")%></th>
      <th scope="col"><%= sort_link(@query, :likes, "Likes")%></th>
    </tr>
  </thead>
  <tbody>
    <% @post.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= post.body.truncate_words(25) %></td>
        <td><%= link_to post.user.email, user_profile_path(post.user) %></td>
        <td><%= post.likes.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>