<h1 style="text-align: center; margin-top: 10px;"><%=t(:profile)%></h1>
<hr>
<section style="background-color: #eee; margin-top: 50px;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-8">
          <div class="card-body text-center">
           <%= image_tag user.avatar_url if user.avatar_url %>
            <h5 class="my-3"><%= user.email.split("@")[0].capitalize %></h5>
            <p class="text-muted mb-1"><%= t(:blogger) %></p>
            <p class="text-muted mb-4"><%= user.first_address %></p>
            <% if current_user == user %>
            <%= link_to t(:edit), edit_user_registration_path, class:"btn btn-warning" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><%= t(:email) %></p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= user.email %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><%= t(:phone) %></p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  <% user.phones.each do |phone| %>
                    <li><%= phone.number %></li>
                  <%end %>
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><%= t(:address) %></p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> 
                
                <ul class="list-inside space-y-2">
                <div id="map" class="d-none"></div>
                                <% user.first_3address.each do |location| %>
                                    <%= user.show_location(location) %>
                                    <span>&nbsp</span>
                                    <%= user.delete_address(current_user, location.id) %>
                                <% end %></p>
                                
              </div>
            </div>
          </div>
        </div>
        <div class="profile links" style="display: flex; flex-wrap: wrap;row-gap: 10px; column-gap: 2em; ">
          <%= link_to "Add Phone", add_phone_path, class:"btn btn-warning" if current_user == user %>
          <%= link_to "Add location", add_location_path %>
          <%= render "charges/new", user: current_user %>
        <div>
      </div>
    </div>
  </div>
</section>

<h1 style="text-align: center;"><%= t(:posts)%></h1>
<hr>
<div class="profile-posts" >
  <% user.posts.each do |post| %>
  <p><%= link_to post.title, post %></p>
  <% end %>
</div>
