<h1><%= t(:posts) %></h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p> Likes: <%= post.likes.count %>
    </p>
    <p>
      <%= link_to t(:show_this_post), post, class:"btn btn-warning" %>
    </p>
  <% end %>
</div>
<%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
